@media (min-width: 320px) and (max-width: 480px) {
    header{
        width: 100%;
        height: 220px;
    }
    .header .header-top{
        padding: 0px;
        display: block;
    }
    .header .header-top .icon .cart img{
        width: 20px;
    }
    .header .header-top .logo{
        align-items: center;
        width: 222px;
        margin: 0 auto;
        height: 70px;
    }
    .header .header-top .logo img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .header .header-top .logo h1{
        font-size: 25px;
        font-weight: 600;
    }
    .header .header-top .search-area{
        width: 295px;
        margin: 0 auto;
    }
    .header .header-top .search-area input{
        width: 300px;
        height: 30px;
        padding: 20px 10px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 20px;
        color: rgba(68, 67, 67, 0.644);
        margin-right: 10px;
    }
    .header .header-top .icon {
        width: 260px;
        height: 70px;
        align-items: center;
        margin: 0 auto;
    }
    .header .header-top .icon .wishlist{
        margin-right: 10px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 30px;
        color: rgba(68, 67, 67, 0.849);
    }
    .header .header-top .icon .wishlist p, .cart p{
        font-size: 15px;
        color: rgba(44, 44, 44, 0.822);
    }
    .header .header-top .icon .cart{
        margin-right: 40px;
    }
    .header .header-top .icon .cart img{
        width: 34px;
    }
    .header .header-top .icon .login img{
        display: block;
        width: 30px;
        height: 30px;
    }
    .header .header-top .icon .login p{
        display: none;
    }
    
    .container{
        width: 295px;
    }
    header .header-bottom .sec-header{
        display: block;
        width: 100%;
    }
    header .header-bottom .navbar{
        display: none;
    }
    header .header-bottom .sec-header .category nav{
        width: 295px;
        padding: 10px 20px;
        margin: 0 auto;
        display: block;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 10px 10px;
        width: 290px;
        height: 260px;
        margin: 20px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 290px;
        height: auto;
    }
    .best-sales .heading{
        font-size: 35px;
        margin-bottom: 2px;
        margin-top: 30px;
    }
    .cart-page{
        margin: 20px 20px;
    }
    .cart-page table th{
        display: none;
    }
    .cart-page table td{
        display: flex;
    }
    .cart-page table .cart-content td:nth-child(2){
        display:none;
    }
    .cart-page table tr td input{
        width: 80px;
        padding: 5px 10px;
        margin: 0 3px;
        font-size: 18px;
    }
    .cart-page table tr td button{
        width: 45px;
        padding: 0 5px;
        font-size: 20px;
    }
    .cart-page table tr td:nth-child(4){
        margin-bottom: 20px;
    }
    .cart-page table tr td:nth-child(4) span{
        display: block;
    }
    .cart-page .total-price table tr{
        display: flex;
        justify-content: space-between;
    }
    .cart-page .total-price table td{
        padding: 5px 0 5px 0px;
    }
    .pro-details-page{
        margin: 20px 15px;
        padding: 20px 0px;
        display: block;
    }
    .pro-details-page .detail-r-sec{
        padding: 0 10px;
        margin-top: 20px;
    }
    .pro-details-page .detail-r-sec h2{
        font-size: 23px;
    }
    .pro-details-page .detail-l-sec .main-img{
        width: 250px;
        height: 220px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .main-img img{
        width: 250px;
        height: 220px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .images{
        width: 100%;
        justify-content: center;
    }
    .pro-details-page .detail-l-sec .images img{
        width: 58px;
        height: 58px;
    }
    .pro-details-page .detail-r-sec .action-button form input{
        font-size: 16px;
        padding: 10px 20px;
    }
    .notfound{
        margin: 20px 15px;
        height: 80vh;
    }
    .notfound .main-content h2{
        font-size: 20vh;
        color: #f88783;
    }
    .notfound .main-content .text{
        width: 200px;
    }
    .notfound .main-content h3{
        font-size: 4.1vh;
        margin-top: 15px;
    }
    .notfound .main-content p{
        font-size: 2.8vh;
        width: 310px;
        color: #17303b;
    }
    .notfound .main-content a:hover{
        background: #fa7772;
        padding: 10px 40px;
    }
    footer .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer .main-content .box{
        padding: 20px 20px;
        margin: 5px 0;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer .main-content .left .social a span{
        width: 35px;
        height: 35px;
        font-size: 17px;
        line-height: 35px;
        border-radius: 5px;
    }
    footer .bottom{
        display: block;
        padding: 10px 20px;
    }
    footer .bottom .copyright p{
        font-size: 11px;
        text-align: center;
        margin-bottom: 10px;
    }
    footer .main-content .center .text{
        font-size: 14px;
        margin-left: 5px;
    }
    footer .bottom .link a{
        margin-right: 15px;
        margin-top: 20px;
    }
    
}

/* SIGNUP EXTRA RESPONSIVE START */
@media (min-width: 320px) and (max-width: 560px){
    .signupform .container{
        max-width: 100%;
        padding: 50px 30px;
    }
    .signupform .container form .user-details .input-box{
        margin: 0 10px 30px 0;
        width: 100%;
    }
    .signupform .container form .user-details .big-input-box{
        margin: 0 10px 30px 0;
        width: 100%;
    }
    .signupform .container form .user-details .gender-details{
        width: 100%;
        margin-right: 10px;
    }
    .signupform .container form .user-details .gender-details .category{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    .signupform .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
    .no-scroll::-webkit-scrollbar{
        width: 0px;
    }
    .signupform .container p{
        font-size: 15px;
        line-height: 1.5;
    }
    .signupform .container form .user-details .forget a{
        font-size: 13px;
    }
    .signupform .container form .account{
        font-size: 14px;
        line-height: 1.5;
    }
}
/* SIGNUP EXTRA RESPONSIVE END */

/* ALL PRODUCTS EXTRA RESPONSIVE START */


@media (min-width: 340px) and (max-width: 369px){
    .products .wrapper{
        padding: 0 40px;
    }
}
@media (min-width: 370px) and (max-width: 399px){
    .products .wrapper{
        padding: 0 60px;
    }
}
@media (min-width: 400px) and (max-width: 629px){
    .products .wrapper{
        padding: 0 10px;
    }
    .products .wrapper .carousel2 .card{
        margin: 0 3px;
    }
}

/* EXTRA CART PAGE RESPONSIVE START */

@media (min-width: 630px) and (max-width: 749px){
    .products .wrapper{
        padding: 0 40px;
    }
    .cart-page{
        margin: 20px 20px;
    }
    .cart-page table th{
        display: none;
    }
    .cart-page table td{
        display: inline-block;
    }
    .cart-page table .cart-content{
        width: 100%;
    }
    .cart-page table .cart-content td:nth-child(2){
        display: none;
    }
    .cart-page table tr td input{
        width: 80px;
        padding: 5px 10px;
        margin: 0 3px;
        font-size: 18px;
    }
    .cart-page table tr td input[type="submit"] {
        display: block;
        margin: 15px 0;
    }
    .cart-page table tr td button{
        width: 45px;
        padding: 0 5px;
        font-size: 20px;
    }
    .cart-page table tr td:nth-child(4) {
        text-align: right;
        display: revert;
    }
    .cart-page table tr td:nth-child(4) span{
        display: inline-block;
    }
    .cart-page .total-price table tr{
        display: flex;
        justify-content: space-between;
    }
    .cart-page .total-price table td{
        padding: 5px 0 5px 0px;
    }
    .cart-page table tr td {
        display: table-cell;
    }
    .cart-page .total-price table{
        max-width: 350px;
    }
}

@media (min-width: 750px) and (max-width: 915px){
    .products .wrapper{
        padding: 0 10px;
    }
    .cart-page{
        margin: 40px 50px;
    }
    .cart-page table th{
        display: none;
    }
    .cart-page table td{
        display: inline-block;
    }
    .cart-page table .cart-content{
        width: 100%;
    }
    .cart-page table .cart-content td:nth-child(2){
        display: none;
    }
    .cart-page table tr td input{
        width: 80px;
        padding: 5px 10px;
        margin: 0 3px;
        font-size: 18px;
    }
    .cart-page table tr td input[type="submit"] {
        display: block;
        margin: 15px 0;
    }
    .cart-page table tr td button{
        width: 45px;
        padding: 0 5px;
        font-size: 20px;
    }
    .cart-page table tr td:nth-child(4) {
        text-align: right;
        display: revert;
    }
    .cart-page table tr td:nth-child(4) span{
        display: inline-block;
    }
    .cart-page .total-price table tr{
        display: flex;
        justify-content: space-between;
    }
    .cart-page .total-price table td{
        padding: 5px 0 5px 0px;
    }
    .cart-page table tr td {
        display: table-cell;
    }
    .cart-page .total-price table{
        max-width: 415px;
    }
}

/* EXTRA CART PAGE RESPONSIVE END */

@media  (min-width: 481px) and (max-width: 749px){
    .cart-page{
        margin: 20px 40px;
    }
    .cart-page table th{
        display: none;
    }
    .cart-page table .cart-content{
        width: 100%;
        display: grid;
    }
    .cart-page table .cart-content td:nth-child(2){
        display: none;
    }
    .cart-page table tr td input{
        width: 80px;
        padding: 5px 10px;
        margin: 0 3px;
        font-size: 18px;
    }
    .cart-page table tr td input[type="submit"] {
        display: block;
        margin: 15px 0;
    }
    .cart-page table tr td button{
        width: 45px;
        padding: 0 5px;
        font-size: 20px;
    }
    .cart-page table tr td:nth-child(4) span{
        display: inline-block;
    }
    .cart-page .total-price table td{
        padding: 5px 0 5px 0px;
    }
    .cart-page table tr td {
        display: table-cell;
    }
    .cart-page .total-price table{
        max-width: 100%;
    }
}








/* ALL PRODUCTS EXTRA RESPONSIVE END */

@media (min-width: 481px) and (max-width: 768px){
    header{
        width: 100%;
        height: 230px;
    }
    .header .header-top{
        padding: 0px;
        display: block;
    }
    .header .header-top .icon .cart img{
        width: 20px;
    }
    .header .header-top .logo{
        align-items: center;
        width: 262px;
        margin: 0 auto;
        height: 70px;
    }
    .header .header-top .logo img{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .header .header-top .logo h1{
        font-size: 30px;
        font-weight: 600;
    }
    .header .header-top .search-area{
        width: 448px;
        margin: 0 auto;
    }
    .header .header-top .search-area input{
        width: 450px;
        height: 30px;
        padding: 20px 10px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 20px;
        color: rgba(68, 67, 67, 0.644);
        margin-right: 10px;
    }
    .header .header-top .icon {
        width: 440px;
        height: 70px;
        align-items: center;
        margin: 0 auto;
    }
    .header .header-top .icon .wishlist{
        margin-right: 30px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 30px;
        color: rgba(68, 67, 67, 0.849);
    }
    .header .header-top .icon .wishlist p, .cart p{
        font-size: 15px;
        color: rgba(44, 44, 44, 0.822);
    }
    .header .header-top .icon .cart{
        margin-right: 200px;
    }
    .header .header-top .icon .cart img{
        width: 34px;
        color: rgba(68, 67, 67, 0.849);
    }
    .header .header-top .icon .login img{
        display: block;
        width: 30px;
        height: 30px;
    }
    .header .header-top .icon .login p{
        display: none;
    }
    .container{
        width: 450px;
    }
    header .header-bottom .sec-header{
        display: block;
        width: 100%;
    }
    header .header-bottom .navbar{
        display: none;
    }
    header .header-bottom .sec-header .category nav{
        width: 450px;
        padding: 15px 20px;
        margin: 0 auto;
        display: block;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 190px;
        height: 170px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 190px;
        height: auto;
    }
    .best-sales .heading{
        font-size: 35px;
        margin-bottom: 2px;
        margin-top: 20px;
    }
    .pro-details-page{
        margin: 40px 0px;
        padding: 40px 0px;
        display: block;
    }
    .pro-details-page .detail-r-sec{
        padding: 0 40px;
        margin-top: 20px;
    }
    .pro-details-page .detail-r-sec h2{
        font-size: 23px;
    }
    .pro-details-page .detail-l-sec .main-img{
        width: 350px;
        height: 320px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .main-img img{
        width: 350px;
        height: 320px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .images{
        width: 100%;
        justify-content: center;
    }
    .pro-details-page .detail-l-sec .images img{
        width: 84px;
        height: 85px;
    }
    .notfound{
        margin: 40px 30px;
    }
    .notfound .main-content h2{
        font-size: 30vh;
        color: #f88783;
    }
    .notfound .main-content .text{
        width: 300px;
    }
    .notfound .main-content h3{
        font-size: 4.5vh;
        margin-top: 15px;
    }
    .notfound .main-content p{
        font-size: 3.2vh;
        width: 400px;
        color: #17303b;
    }
    .notfound .main-content a:hover{
        background: #fa7772;
        padding: 10px 80px;
    }
    footer .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer .main-content .box{
        padding: 20px 40px;
        margin: 5px 0;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer .main-content .left .social a span{
        width: 35px;
        height: 35px;
        font-size: 17px;
        line-height: 35px;
        border-radius: 5px;
    }
    footer .bottom{
        display: block;
        padding: 10px 40px;
    }
    footer .bottom .copyright p{
        font-size: 13px;
        text-align: center;
        margin-bottom: 10px;
    }
    footer .main-content .center .text{
        margin-left: 10px;
    }
    footer .bottom .link{
        text-align: center;
    }
    footer .bottom .link a{
        margin-right: 15px;
        margin-top: 20px;
    }
}


@media (min-width: 769px) and (max-width: 810px){
    header{
        width: 100%;
        height: 124px;
    }
    .header .header-top{
        padding: 20px 30px;
    }
    .header .header-top .logo{
        width: 202px;
    }
    .header .header-top .logo img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .header .header-top .logo h1{
        font-size: 23px;
        font-weight: 600;
    }
    .header .header-top .search-area input{
        width: 260px;
        padding: 20px 5px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 20px;
        margin-left: -30px;
        color: rgba(68, 67, 67, 0.644);
    }
    .header .header-top .icon .wishlist, .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 26px;
    }
    .header .header-top .icon .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .cart img{
        width: 29px;
    }
    .header .header-top .icon .login img{
        display: block;
        width: 25px;
        height: 25px;
    }
    .header .header-top .icon .login p{
        display: none;
    }
    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        margin: 0 auto;
        align-items: center;
        height: 45px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 300px;
        padding: 12px 20px;
        margin-top: -22.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 12px;
    }
    header .header-bottom .navbar li a{
        font-size: 14px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 220px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 220px;
        height: auto;
    }
    .products .wrapper{
        padding: 0 20px;
    }
    .pro-details-page{
        margin: 40px 0px;
        padding: 40px 0px;
        display: block;
    }
    .pro-details-page .detail-r-sec{
        padding: 0 60px;
        margin-top: 20px;
    }
    .pro-details-page .detail-r-sec h2{
        font-size: 23px;
    }
    .pro-details-page .detail-l-sec .main-img{
        width: 380px;
        height: 350px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .main-img img{
        width: 380px;
        height: 350px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .images{
        width: 100%;
        justify-content: center;
    }
    .pro-details-page .detail-l-sec .images img{
        width: 100px;
        height: 100px;
    }
    .notfound{
        margin: 40px 30px;
    }
    footer .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer .main-content .box{
        padding: 20px 40px;
        margin: 5px 0;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer .main-content .left .social a span{
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
    footer .bottom{
        display: block;
        padding: 10px 40px;
    }
    footer .bottom .copyright p{
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    footer .bottom .link{
        text-align: center;
    }
    footer .bottom .link a{
        margin-right: 15px;
        margin-top: 20px;
    }
    footer .main-content .right form input[type="text"], form textarea{
        padding: 10px 10px
    }
}



@media (min-width: 811px) and (max-width: 910px){
    header{
        width: 100%;
        height: 124px;
    }
    .header .header-top{
        padding: 20px 30px;
    }
    .header .header-top .logo{
        width: 231px;
    }
    .header .header-top .logo img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    .header .header-top .logo h1{
        font-size: 27px;
        font-weight: 600;
    }
    .header .header-top .search-area input{
        width: 270px;
        padding: 20px 10px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 20px;
        margin-left: -30px;
        color: rgba(68, 67, 67, 0.644);
    }
    .header .header-top .icon .wishlist, .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 24px;
    }
    .header .header-top .icon .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .cart img{
        width: 27px;
    }
    .header .header-top .icon .login img{
        display: block;
        width: 25px;
        height: 25px;
    }
    .header .header-top .icon .login p{
        display: none;
    }


    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        margin: 0 auto;
        align-items: center;
        height: 45px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 300px;
        padding: 12px 20px;
        margin-top: -22.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 19px;
    }
    header .header-bottom .navbar li:last-child{
        margin-right: 0;
    }
    header .header-bottom .navbar li a{
        font-size: 14px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 220px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 220px;
        height: auto;
    }
    .pro-details-page{
        margin: 40px 0px;
        padding: 40px 0px;
    }
    .pro-details-page .detail-r-sec{
        padding: 0px 20px;
    }
    .pro-details-page .detail-r-sec h2{
        font-size: 23px;
    }
    .pro-details-page .detail-l-sec .main-img{
        width: 380px;
        height: 350px;
        margin: 0 0px;
    }
    .pro-details-page .detail-l-sec .main-img img{
        width: 380px;
        height: 350px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .images img{
        width: 80px;
        height: 80px;
    }
    .notfound{
        margin: 40px 30px;
    }
    footer .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer .main-content .box{
        padding: 20px 40px;
        margin: 5px 0;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer .main-content .left .social a span{
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
    footer .bottom{
        display: block;
        padding: 10px 40px;
    }
    footer .bottom .copyright p{
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    footer .bottom .link{
        text-align: center;
    }
    footer .bottom .link a{
        margin-right: 15px;
        margin-top: 20px;
    }
    footer .main-content .right form input[type="text"], form textarea{
        padding: 10px 10px
    }
}



@media (min-width: 911px) and (max-width: 1024px){
    header{
        width: 100%;
        height: 124px;
    }
    .header .header-top{
        padding: 20px 30px;
    }
    .header .header-top .logo{
        width: 239px;
    }
    .header .header-top .logo img{
        width: 33px;
        height: 33px;
        margin-right: 10px;
    }
    .header .header-top .logo h1{
        font-size: 27px;
        font-weight: 600;
    }
    .header .header-top .search-area input{
        width: 270px;
        padding: 20px 10px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 23px;
        margin-left: -30px;
        color: rgba(68, 67, 67, 0.644);
    }
    .header .header-top .icon .wishlist, .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 27px;
    }
    .header .header-top .icon .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .cart img{
        width: 30px;
    }
    .header .header-top .icon .login p{
        font-size: 18px;
    }

    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        margin: 0 auto;
        align-items: center;
        height: 45px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 330px;
        padding: 12px 20px;
        margin-top: -22.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 30px;
    }
    header .header-bottom .navbar li:last-child{
        margin-right: 0;
    }
    header .header-bottom .navbar li a{
        font-size: 15px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 250px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 250px;
        height: auto;
    }
    .products .wrapper{
        padding: 0 20px;
    }
    .pro-details-page{
        margin: 40px 0px;
        padding: 40px 0px;
    }
    .pro-details-page .detail-r-sec{
        padding: 0px 20px;
    }
    .pro-details-page .detail-r-sec h2{
        font-size: 23px;
    }
    .pro-details-page .detail-l-sec .main-img{
        width: 380px;
        height: 350px;
        margin: 0 20px;
    }
    .pro-details-page .detail-l-sec .main-img img{
        width: 380px;
        height: 350px;
        margin: 0 auto;
    }
    .pro-details-page .detail-l-sec .images img{
        width: 80px;
        height: 80px;
    }
    .notfound{
        margin: 40px 30px;
    }
    footer .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer .main-content .box{
        padding: 20px 40px;
        margin: 5px 0;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
    footer .main-content .left .social a span{
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
    footer .bottom{
        display: block;
        padding: 10px 40px;
    }
    footer .bottom .copyright p{
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    footer .bottom .link{
        text-align: center;
    }
    footer .bottom .link a{
        margin-right: 15px;
        margin-top: 20px;
    }
    footer .main-content .right form input[type="text"], form textarea{
        padding: 10px 10px
    }
}


@media (min-width: 1025px) and (max-width: 1100px){
    header{
        width: 100%;
        height: 164px;
    }
    .header .header-top{
        padding: 40px 60px;
    }
    .header .header-top .logo{
        width: 239px;
    }
    .header .header-top .logo img{
        width: 33px;
        height: 33px;
        margin-right: 10px;
    }
    .header .header-top .logo h1{
        font-size: 27px;
        font-weight: 600;
    }
    .header .header-top .search-area input{
        width: 310px;
        padding: 20px 10px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 23px;
        margin-left: -30px;
        color: rgba(68, 67, 67, 0.644);
    }
    .header .header-top .icon .wishlist, .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 27px;
    }
    .header .header-top .icon .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .cart img{
        width: 30px;
    }
    .header .header-top .icon .login p{
        font-size: 18px;
    }
    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
        margin: 0 auto;
        align-items: center;
        height: 45px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 350px;
        padding: 12px 20px;
        margin-top: -22.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 30px;
    }
    header .header-bottom .navbar li:last-child{
        margin-right: 0;
    }
    header .header-bottom .navbar li a{
        font-size: 16px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 220px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 220px;
        height: auto;
    }
    .pro-details-page{
        margin: 40px 30px;
        padding: 40px 0px;
    }
    .pro-details-page .detail-r-sec{
        padding: 0px 20px;
    }
    .notfound{
        margin: 40px 60px;
    }
    footer .main-content{
        padding: 0 20px;
    }
    footer .main-content .box{
        padding: 20px 10px;
    }
    footer .main-content .center .text{
        font-size: 14px;
    }
}



@media (min-width: 1101px) and (max-width: 1200px){
    header{
        width: 100%;
        height: 181px;
    }
    .header .header-top{
        padding: 40px 75px;
    }
    .header .header-top .logo{
        width: 253px;
    }
    .header .header-top .logo img{
        width: 33px;
        height: 33px;
        margin-right: 10px;
    }
    .header .header-top .logo h1{
        font-size: 29px;
        font-weight: 600;
    }
    .header .header-top .search-area input{
        width: 310px;
        padding: 20px 10px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 23px;
        margin-left: -30px;
        color: rgba(68, 67, 67, 0.644);
    }
    .header .header-top .icon .wishlist, .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 27px;
    }
    .header .header-top .icon .cart{
        margin-right: 15px;
    }
    .header .header-top .icon .cart img{
        width: 30px;
    }
    .header .header-top .icon .login p{
        font-size: 18px;
    }
    header .header-bottom nav ul{
        top: 70px;
    }
    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 75px;
        margin: 0 auto;
        align-items: center;
        height: 60px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 360px;
        padding: 20px 20px;
        margin-top: -29.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 40px;
    }
    header .header-bottom .navbar li:last-child{
        margin-right: 0;
    }
    header .header-bottom .navbar li a{
        font-size: 16px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 240px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 240px;
        height: auto;
    }
    .pro-details-page{
        margin: 40px 40px;
        padding: 40px 0px;
    }
    .pro-details-page .detail-r-sec{
        padding: 0px 20px;
    }
    footer .main-content{
        padding: 0 20px;
    }
    footer .main-content .box{
        padding: 20px 10px;
    }
}


@media (min-width: 1201px) and (max-width: 1300px){
    header{
        width: 100%;
        height: 180px;
    }
    .header .header-top{
        padding: 40px 65px;
    }
    .header .header-top .logo{
        width: 303px;
    }
    .header .header-top .logo img{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .header .header-top .logo h1{
        font-size: 33px;
        font-weight: 600;
    }
    .header .header-top .search-area input{
        width: 380px;
        padding: 20px 20px;
        padding-right: 40px;
    }
    .header .header-top .search-area i{
        font-size: 25px;
        margin-left: -30px;
        color: rgba(68, 67, 67, 0.644);
    }
    .header .header-top .icon .wishlist{
        margin-right: 15px;
    }
    .header .header-top .icon .wishlist i{
        font-size: 30px;
    }
    .header .header-top .icon .cart img{
        width: 33px;
    }
    header .header-bottom nav ul{
        top: 73px;
    }
    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 65px;
        margin: 0 auto;
        align-items: center;
        height: 60px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 360px;
        padding: 20px 20px;
        margin-top: -29.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 40px;
    }
    header .header-bottom .navbar li:last-child{
        margin-right: 0;
    }
    header .header-bottom .navbar li a{
        font-size: 16px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 220px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 220px;
        height: auto;
    }
    .pro-details-page{
        margin: 40px 35px;
        padding: 40px 30px;
    }
    footer .main-content{
        padding: 0 20px;
    }
    footer .main-content .box{
        padding: 20px 10px;
    }
}

@media (min-width: 1301px) and (max-width: 1500px){
    header{
        width: 100%;
        height: 180px;
    }
    .header .header-top{
        padding: 40px 90px;
    }
    header .header-bottom nav ul{
        top: 73px;
    }
    .container{
        width: auto;
        justify-content: space-between;
    }
    header .header-bottom .sec-header{
        display: flex;
        justify-content: space-between;
        padding: 0 90px;
        margin: 0 auto;
        align-items: center;
        height: 60px;
    }
    header .header-bottom .navbar ul{
        display: flex;
    }
    header .header-bottom .sec-header .category nav{
        width: 360px;
        padding: 20px 20px;
        margin-top: -29.9px;
    }
    header .header-bottom .navbar li{
        margin-right: 40px;
    }
    header .header-bottom .navbar li:last-child{
        margin-right: 0;
    }
    header .header-bottom .navbar li a{
        font-size: 16px;
    }
    .bodycontainer{
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .slider .wrapper .carousel .card{
        margin: 20px 10px;
        width: 230px;
        height: 199px;
        margin: 30px auto;
    }
    .slider .wrapper .carousel .card img{
        width: 230px;
        height: auto;
    }
}