*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'rubik',sans-serif;
    text-transform: capitalize;
    background: #f2f3f7;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #3b444b;
}
.color-change{
    color: #cea45f;
}

/* Style Scrool Bar */

::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, #cea45f, #eeb965);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background: #333;
    border-radius: 5px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 180px;
    background-color: #fff; 
}
header .header{
    border-bottom: 1px solid rgba(65, 64, 64, 0.247);
}
.header .header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 90px;
}
.header .header-top .logo{
    display: flex;
    align-items: center;
}
.header .header-top .logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.header .header-top .logo h1{
    font-size: 35px;
    font-weight: 600;
}
.header .header-top .search-area{
    display: flex;
    align-items: center;
}
.header .header-top .search-area input{
    width: 400px;
    height: 30px;
    padding: 20px 20px;
    padding-right: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(65, 64, 64, 0.247);
    color: rgba(65, 64, 64, 0.466);
    font-size: 16px;
}
.header .header-top .search-area i{
    font-size: 25px;
    margin-left: -30px;
    color: rgba(68, 67, 67, 0.644);
}
.header .header-top .icon{
    display: flex;
}
.header .header-top .icon .wishlist{
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
}
.header .header-top .icon .wishlist i{
    margin-right: 3px;
    font-size: 30px;
    color: #3b444b;
}
.header .header-top .icon .cart{
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
}
.header .header-top .icon .cart img{
    margin-right: 3px;
    width: 33px;
}
.header .header-top .icon .login{
    display: flex;
    align-items: flex-end;
}
.header .header-top .icon .login p{
    font-size: 20px;
}
.header .header-top .icon .login a:hover{
    color: #cea45f;
}
.header .header-top .icon .login img{
    display: none;
}
header .header-bottom .sec-header .category nav{
    position: absolute;
    background: rgba(51, 51, 51, 0.849);
    width: 300px;
    padding: 20px 20px;
    cursor: pointer;
    margin-top: 0px;
    z-index: 1;
}
header .header-bottom .sec-header .category nav .menu::before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #fff;
    right: 17px;
    top: -8px;
    transform: rotate(45deg);
    z-index: 1;
    border-top: 1px solid rgba(51, 51, 51, 0.226);
    border-left: 1px solid rgba(51, 51, 51, 0.226);
}
header .header-bottom .sec-header .category nav label{
    color: #fff;
    font-family: 'rubik',sans-serif;
    display: block;
}
header .header-bottom .sec-header .category nav .button .listicon{
    margin-right: 10px;
}
header .header-bottom .sec-header .category nav .button .arrowicon{
    float: right;
}
header .header-bottom nav .menu{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
}
header .header-bottom nav ul{
    position: absolute;
    background: #fff;
    list-style: none;
    width: 100%;
    left: 0;
    top: 55px;
    border-radius: 0 0px 10px 10px;
    display: none;
}
[id^=btn]:checked + ul{
    display: block;
}
header .header-bottom .sec-header .category nav ul li{
    padding: 8px 20px;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}
header .header-bottom .sec-header .category nav ul li:last-child{
    border: none;
}
header .header-bottom .sec-header .category nav ul li label{
    font-size: 18px;
    color: #333;
}
header .header-bottom .sec-header .category nav ul li label:hover{
    color: #cea45f;
}
header .header-bottom .sec-header .category nav ul li label span{
    float: right;
    margin-top: 10px;
}
header .header-bottom .sec-header .category nav ul ul{
    position: static;
}
header .header-bottom .sec-header .category nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}
header .header-bottom .sec-header .category nav ul ul li a{
    font-size: 17px;
    color: rgba(51, 51, 51, 0.836);
}
header .header-bottom .sec-header .category nav ul li a{
    color: #333;
    text-decoration: none;
    font-size: 18px;
}
header .header-bottom .sec-header .category nav ul li a:hover{
    color: #cea45f;
}
header .header-bottom .sec-header .category nav input{
    display: none;
}
header .header-bottom .sec-header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
header .header-bottom .navbar ul{
    display: flex;
}
header .header-bottom .navbar li{
    margin-right: 40px;
}
header .header-bottom .navbar li:last-child{
    margin-right: 0;
}
header .header-bottom .navbar li a{
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    font-size: 16px;
}
header .header-bottom .navbar li a:hover{
    color: #cea45f;
}

/* Slider Section Style */

.bodycontainer{
    width: 1168px;
    margin: 0 auto;
    z-index: 0;
    overflow: visible;
}
.slider{
    width: 100%;
    display: flex;
    min-height: 100vh;
    
}
.slider .wrapper{
    width: 100%;
}
.slider .wrapper .carousel{
    max-width: 1500px;
    margin: auto;
}
.slider .wrapper .carousel .card{
    margin: 20px 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 270px;
    height: 243px;
    overflow: hidden;
}
.slider .wrapper .carousel .card img{
    width: 270px;
    height: auto;
}
.slider .wrapper .owl-dots{
    text-align: center;
    margin-top: 10px;
}
.slider .wrapper .owl-dot{
    height: 15px;
    width: 25px;
    border: 2px solid #cea45f !important;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    margin-right: 10px;
    transition: all 0.3s ease;
}
.slider .wrapper .owl-dot:hover{
    background: #cea45f;
}
.slider .wrapper .owl-dot.active{
    width: 45px;
    background: #cea45f;
}